obj
bin
Bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
local_properties.rb
artifacts
/product/config/app.config.vista
/product/config/app.config.xp
/product/config/log4net.config.xml
*.orig
~$*
